*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #081b29;
    color: #ebf2f6;
}
.header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}
.logo{
    font-size: 25px;
    color:#ebf2f6;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #ebf2f6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}
.navbar a:hover{
    color: rgb(9, 255, 0);
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color: rgb(89, 255, 0);
}
.home-content p{
     font-size: 17px;
     margin: 20px 0 40px;
}
.home-sci{
    position: absolute;
    bottom: 90px;
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.ph{
    position: absolute;
    bottom: 60px;
    width: 90px;
    font-size: 18px;
    display: inline;
    text-decoration: none;
    color: #d4d5d6;
    justify-content:space-between;
}
.home-sci a{
    display: inline-flex;
    width: 25px;
    height: 100px;
    background: transparent;
    border: 2px;
    border-radius: 50%;
    font-size: 25px;
    color: rgb(89, 255, 0);
    text-decoration: none;
}
.container h1{
    font-size: 20px;
    color: #ebf2f6;
    text-decoration: none;
    font-weight: 600;
    margin-left: 600px;
    transition: .3s;
}
.container h1:hover{
    color:rgb(89, 255, 0);
}
.container p{
    font-size: 19px;
    background-color:rgb(99, 96, 96);
    border-left: 7px solid rgb(89, 255, 0);
    margin: 50px 0 60px;
    padding: 30px 20%;
}
.skills h1{
        font-size: 20px;
        color: #ebf2f6;
        text-decoration: none;
        font-weight: 600;
        margin-left: 600px;
        transition: .3s;
}
.skills h1:hover{
    color: rgb(89, 255, 0);
}
.skills-box .skills-content{
    position:relative ;
    border: .2rem solid rgb(89, 255, 0);
    border-radius: .6rem;
    padding: .5rem 1.9rem;
    margin: 20px 0 30px;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 20px;
    display:flex;
    justify-content: space-between;
}
.skills-content .progress .bar{
    height: 1.9rem;
    border-radius: .6rem;
    border:.2rem solid rgb(224, 232, 219);
    padding: .5rem;
    margin:1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: rgb(173, 188, 165);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 79%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 68%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 86%;
}
.container-cnt{
    width: 500px;
    margin: 10% auto;
    padding: 60px;
    background:transparent;
    box-shadow: 1px 0px 10px rgba(242, 228, 228, 0.1);
  }
  .container-cnt{
  font-size: 20px;
  color: #d4d5d6;
  text-decoration: none;
  font-weight: 600;
  margin-left: 400px;
  transition: .3s;
}
.container-cnt h1:hover{
color: rgb(89, 255, 0);
}
  label {
    display:flex;
    margin-bottom: 5px;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  button {
    padding: 10px 20px;
    background-color: #1bb300;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(138, 131, 131, 0.1);
  }
  .container-footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
 